<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilosEdit.css">
    <title>Editar</title>
</head>
<body>
    <h2>Editar Datos</h2>
    <form action="/update/<%= user.usuario_id %>" method="post">
        <label for="name">Nombre:</label>
            <input type="text" name="nom_usuario" maxlength="10" id="nom_usuario" value="<%= user.nom_usuario %>" >

        <label for="email">Contraseña:</label>
            <input type="text" maxlength="8" name="contraseña" id="contraseña" value="<%= user.contraseña %>">
        <br>
        <button type="submit">Actualizar</button>

    </form>
    <a href="/">← Volver al listado</a>
    
</body>
</html>